<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	
	<event name="model_save_before">
		<observer name="model_save_before_for_insert_attribute_save_data"
			instance="Addon\Attributeupload\Observer\AttributeBeforeSave" />
	</event>
</config>